@import "../const";

.DialogTableGroupList {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000050;
  backdrop-filter: blur(5px);
  z-index: 2;

  .window {
    background-color: white;
    border: 1px solid $borderColor;
    min-width: 300px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 25px 50px -12px;

    .top {
      height: 40px;
      border-bottom: 1px solid $borderColor;
      display: flex;
      position: relative;
      padding: 10px;

      .left {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 10px;

        p {
          font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 15px;
          color: $textColor;
          text-align: center;
          margin: 0;
        }
      }

      .right {
        width: 80px;

        button {
          margin: 0;
          width: 100%;
          height: 100%;
          outline: none;
          border: 1px solid $borderColor;
          background: none;
          cursor: pointer;

          font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 15px;
          color: $textColor;

          &:hover {
            background-color: $borderColor;
          }
        }
      }
    }

    .center {
      display: flex;
      padding: 10px;
      grid-gap: 10px;
      max-height: 70vh;

      .left {
        width: 300px;
        overflow-y: auto;
        border: 1px solid $borderColor;
      }

      .right {
        width: 300px;
        overflow-y: auto;
        border: 1px solid $borderColor;
      }

      .left,
      .right {
        .row {
          display: flex;

          .left {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: start;
            padding: 10px;

            p {
              font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 15px;
              color: $textColor;
              text-align: center;
              margin: 0;
            }
          }

          .right {
            width: 80px;

            button {
              margin: 0;
              width: 100%;
              height: 100%;
              outline: none;
              border: none;
              background: none;
              cursor: pointer;

              font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 15px;
              color: $textColor;

              &:hover {
                background-color: $borderColor;
              }
            }
          }
        }
      }

      .field {
        display: flex;
        height: 40px;
        border: 1px solid $borderColor;

        .left {
          width: 130px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding: 10px;
          border-right: 1px solid $borderColor;

          p {
            font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: $textColor;
            text-align: center;
            margin: 0;
          }
        }

        .right {
          width: 300px;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          input {
            width: 100%;
            height: calc(100% - 20px);
            outline: none;
            border: none;
            padding: 10px;

            font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: $textColor;
            text-align: left;
            margin: 0;
          }

          p {
            font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: $textColor;
            text-align: center;
            margin: 0;
            padding: 10px;
          }
        }
      }
    }

    .bottom {
      height: 40px;
      border-top: 1px solid $borderColor;
      padding: 10px;
      display: flex;
      gap: 10px;

      button {
        flex-grow: 1;
        margin: 0;
        width: 100%;
        height: 100%;
        outline: none;
        border: 1px solid $borderColor;
        background: none;
        cursor: pointer;

        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: $textColor;

        &:hover {
          background-color: $borderColor;
        }
      }
    }
  }
}
